ul {
  list-style: none;
}

a {
  text-decoration: none;
}


@font-face {
    font-family:Inter;
    src: url(/fonts/Inter-VariableFont_opsz\,wght.ttf);
}

:root{
    --main-color:#D8502D;
    --border-color:#f6f3f4;
}

body{
    font-family: Inter;
}


.navbar .navbar-brand .logo{
    background-color: var(--main-color);
    padding: 10px 8px;
    border-radius: 12px;
    color: white;
    font-size: 16px;
}

.navbar .navbar-brand span{
font-size: 21px;
font-weight: 700;
line-height: 28px;
color:var(--main-color) ;
}

.navbar .navbar-toggler{
    border: none;
    color: #69717F;
    padding: 0;
}

.navbar .navbar-toggler:focus{
    box-shadow: none;
}

.navbar .navbar-nav .nav-item .nav-link{
    font-size: 14px;
    font-weight: 500;
}

.navbar .navbar-nav .nav-link.active{
    color: var(--main-color);
}

.navbar .action-btns button{
    border-radius: 20px;
    padding-block: 10px;
    padding-inline: 20px;
    font-size: .875rem;
    font-weight: 500;
    line-height: 21px;
    text-transform: capitalize;
}

.navbar .action-btns .sign-btn{
    background-color: transparent;
    border:  1px solid var(--border-color);
    transition: color 300ms , border 300ms;
}

.navbar .action-btns .sign-btn:hover{
    color: var(--main-color);
    border: 1px solid var(--main-color);
}


.navbar .action-btns .start-btn{
    border: none;
    background-image: linear-gradient(var(--main-color),#C54428);
    color: white;
    transition: box-shadow 200ms;
}

.navbar .action-btns .start-btn:hover{
    box-shadow: 0px 4px 4px #ff9c8368;
}