ul {
  list-style: none;
}

a {
  text-decoration: none;
}


@font-face {
    font-family:Inter;
    src: url(/fonts/Inter-VariableFont_opsz\,wght.ttf);
}

:root{
    --main-color:#D8502D;
}

body{
    font-family: Inter;
}


.navbar .navbar-brand .logo{
    background-color: var(--main-color);
    padding: 10px 8px;
    border-radius: 12px;
    color: white;
    font-size: 16px;
}

.navbar .navbar-brand span{
font-size: 21px;
font-weight: 700;
line-height: 28px;
color:var(--main-color) ;
}